body .container{
  width: 500px;
  border: 1px solid;
}

.user_name{
    padding: 10px;
    margin: 0;
}

.user_point {
  display: inline-block;
  border: 1px solid;
  padding: 10px;
}

.question{
  margin-bottom: 20px;
}
